<!--

    Copyright (c) 2025 Red Hat, Inc.
    This program and the accompanying materials are made
    available under the terms of the Eclipse Public License 2.0
    which is available at https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0

    Contributors:
      Red Hat, Inc. - initial API and implementation

-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= devworkspaceName %></title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script>

      // base pat of the page ( excluing '/login' at the end )
      let basePath = location.pathname.substring(0, location.pathname.lastIndexOf('/'));

      function goto(path) {
        window.location.assign(basePath + path);
      }

      function logout() {
        goto('/logout');
      }

      let dots = '';
      let completed = false;
      function scheduleTunnelCreationCheck() {
        
        // update text
        dots.length < 3 ? dots += '.' : dots = '';
        document.getElementById("loader").innerText = '\r\n        Creating tunnel' + dots + '\r\n';

        setTimeout(() => {
          if (completed) {
            return;
          }

          if (dots === '...') {
            try {
              const xhr = new XMLHttpRequest();
              xhr.open("POST", basePath + "/create_status", true);
              xhr.onreadystatechange = () => {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                  // still in progress
                  if (xhr.status === 202) {
                    return;
                  }

                  // failed
                  if (xhr.status === 403) {
                    completed = true;

                    let text = '\r\n' + xhr.responseText.split('\r\n').map((value) => {
                      return '        ' + value;
                    }).join('\r\n') + '\r\n';

                    document.getElementById("loader").innerText = '';
                    document.getElementById("error").innerText = text;

                    return;
                  }

                  if (xhr.status === 200) {
                    completed = true;

                    document.getElementById("tunnel_creating").style.display = "none";
                    document.getElementById("access").style.removeProperty("display");
                    
                    return;
                  }

                  goto('/logout');
                }
              };

              xhr.send();

            } catch (error) {
              console.error(error);
            }
          }

          scheduleTunnelCreationCheck();

        }, 500);

      }

      window.onload = scheduleTunnelCreationCheck;

    </script>

  </head>
  <body class="dark">
    <pre>

      *
      * Visual Studio Code Server
      *
      * By using the software, you agree to
      * the Visual Studio Code Server License Terms (<a href="https://aka.ms/vscode-server-license" target="_blank">https://aka.ms/vscode-server-license</a>) and
      * the Microsoft Privacy Statement (<a href="https://privacy.microsoft.com/en-US/privacystatement" target="_blank">https://privacy.microsoft.com/en-US/privacystatement</a>).
      *

      
      Tunnel name: <%= devworkspaceName %>
      ------------------------------------------------------------------------------------------------------

      <span id="access" style="display: none">
      How would you like to access your workspace?

        <a href="<%= desktopLink %>" target="_self" class="console-button"><span>❯ </span>Open in <b>Visual Studio Code desktop</b></a>
        <a href="<%= webLink %>" target="_blank" class="console-button"><span>❯ </span>Open in https://vscode.dev</a>
</span><span id="tunnel_creating"><span id="loader"></span><span id="error" class="error"></span></span>

      ------------------------------------------------------------------------------------------------------
      
      Do something else?

        <span class="console-button" onclick="logout()"><span>❯ </span>Logout</span>
    </pre>

  </body>
</html>
